/*
* @Author: Administrator
* @Date:   2018-01-08 10:55:31
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-08 11:11:33
*/

#img-list li{
	float: left;
	list-style: 
	margin-right: 10px;
}
#img-list img{
	width: 200px;
}