<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>simditor 测试</title>
 
</head>

<body>

    <div class="main-con container">
 
        <div class="con-wrap">
            
            <div class="row">
                <form class="form-wrap col-lg-12" id="form1">
                    <div class="form-horizontal">
                        <div class="form-group detail-desc">
                            <label for="detail-desc" class="col-md-2 control-label">商品详情</label>
                            <div class="col-md-10">
                                <div class="rich-editor">
                                    <!-- 富文本编辑区域 -->
                                    <textarea id="editor" placeholder="Balabala" autofocus name="pro-rich-text"></textarea>
                                    <input type="hidden" name="rich-img-addr" id="rich-text-img-addr" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-xl btn-primary" id="submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>